main{
  width: 100%;
  padding: 3% 0%;
  height: auto;
}
#main-content {
  margin: auto;
  width: 60%;
  text-align: left;
  height: 20vw;
  background-color;
}
#main-content h1 {
  margin: % auto 3% auto;
  font-size: 2vw;
}
.about-product {
  font-size: 1.5vw;
  height: 87%;
}
.main-buttons {
height: 10.2vw;
}
#res-button-cont {
  height: 12vw;
  float: left;
  width: 50%;
}
#res-button-div {
  display: inherit;
}
#res-button {
  float: left;
  border: 1px solid #333366;
  background-color: #333366;
  width: 20vw;
  height: 7vw;
  color: #FFFFFF !important;
  font-size: 2vw;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 3px;
  display: inline-block;
  margin-top: 3vw;
  margin-left: 20vw;
  display: inherit;
}
#res-button:hover {
  cursor: pointer;
  background-color: rgba(233, 25, 33, 0.9);
  transform: scale(.98,.98);
  border-color: rgba(233, 25, 33, 0.9);
}
#mm-button-cont {
  height: 12vw;
  float: right;
  width: 41.2%;
}
#mm-button {
  float: right;
  border: 1px solid #333366;
  background-color: #333366;
  width: 20vw;
  height: 7vw;
  color: #FFFFFF !important;
  font-size: 2vw;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 3px;
  display: inline-block;
  margin-top: 3vw;
  margin-right: 20vw;
}
#mm-button:hover {
  cursor: pointer;
  background-color: rgba(233, 25, 33, 0.9);
  transform: scale(.98,.98);
  border-color: rgba(233, 25, 33, 0.9);
}
#res-submit-button {
  border: 1px solid #333366;
  background-color: #333366;
  padding: 5px 10px;
  color: #FFFFFF !important;
  font-size: 14px;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 3px;
  display: inline-block;
}
#mm-submit-button {
  border: 1px solid #333366;
  background-color: #333366;
  padding: 5px 10px;
  color: #FFFFFF !important;
  font-size: 14px;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 3px;
  display: inline-block;
  float: left;
  margin-top: 5%;
}
#res-form {
  text-align: left;
  display: block;
  float: left;
  height: 10vw;
  width: 31%;
  margin-top: 3vw;
  margin-left: 14vw;
}
#mm-form {
  text-align: left;
  display: block;
  float: left;
  height: 10vw;
  width: 31%;
  margin-top: 3vw;
  margin-right: 14vw;
}
#input-email {
  width: 22vw;
  height: 3vw;
}
#input-password {
  width: 22vw;
  height: 3vw;
}
#input-id {
  width: 22vw;
  height: 3vw;
  font-size: 1.5vw;
  text-indent: .5vw;
}
