
.messageSent{
  border-radius:20px;
  position: relative;
  overflow: hidden;
  float:right;
  margin: auto;
  height:99px;
  width:99px;
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#main {
  width: 100%;
  margin: 0;
  padding: 0 0 2% 0;
  min-height: 51vw;
  height: auto;
}
.numberGrid{
  width:100px;
  text-align: center;
}
.gridIdContainer{
  display:inline;
}
.gridNumber{
  width:100 %auto;
  text-align:center;
  margin: 0% 0 1% 0;
  padding-top: 3%;
  padding-bottom: 3%;
}
.gridNumber p {
  margin: 0%;
  font-size:  3vw;
}
.messageSentText{
  text-align: center;
}
.listContainer {
  background-color: white;
  border-radius:15px;
  border:3px solid;
  min-height: 9vw;
  margin: 2% auto 0% auto;
  padding-left:5px;
  padding-bottom: 1.5%;
  width:40%;
}
.listContainer li {
  font-size: 1.2vw;
}
.logOut {
  float:left;
  text-align:center;
}
.logOut button {
  margin-left: 8%;
  width: 5vw;
}

.logo {
  height:80px;
  width:80px;
}
div.map{
  width:390px;
  height:390px;
  border-radius: 25px;
  margin:auto;
  border:5px dashed black;
}
.markerInputBox{
  margin: 2% auto 0% auto;
  text-align: center;
}
.markerInputBox button {
  border: 1px solid #333366;
  background-color: #333366;
  padding: 5px 10px;
  color: #FFFFFF !important;
  font-size: 1.7vw;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 3px;
  display: inline-block;
  width: 15vw;
  height: 5vw;
}
.markerInputBox button:hover {
  cursor: pointer;
  background-color: #E71921;
  transform: scale(.98,.98);
  border: 1px solid #E71921;
}
h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  color:  #333366;
  font-family: 'Merriweather', serif;
}
p {
  font-size: 1.2vw;
}
hr {
  width: 75%;
  color: #E71921;
  border: 1px;
  border: thin dashed;
}
