/*REGISTRATION CSS*/
input#sms-input.hidden {
  display: none;
}
input#sms-input.visible {
background-color: : red;
}

fieldset {
	border: none;
}

li, span {
	font-size: 14px;
	display: block;
	line-height: 1.5;
}

.compliant {
	background-color: #ffffff;
	color: #595959;
	border-width: 1pt;
	border-color: #595959;
	Text Gray #595959
}

div.title_header {
	position: fixed;
	padding: 10px 10px 10px 40px;
	background-color: #333366;
	width: 1230px;
	height: 63px;
	overflow: visible;
	z-index: 9999;
}
