/*REGISTRATION CSS*/
input#sms-input.hidden {
  display: none;
}
input#sms-input.visible {
background-color: : red;
}

fieldset {
	border: none;
  margin-left: 1vw;
}

li, span {
	font-size: 14px;
	display: block;
	line-height: 1.5;
}

.compliant {
	background-color: #ffffff;
	color: #595959;
	border-width: 1pt;
	border-color: #595959;
	Text Gray #595959
}

div.title_header {
	position: fixed;
	padding: 10px 10px 10px 40px;
	background-color: #333366;
	width: 1230px;
	height: 63px;
	overflow: visible;
	z-index: 9999;
}
<<<<<<< HEAD

/*INDEX CSS*/
#main-content {
  margin: auto;
  width: 60%;
  text-align: center;
  height: 42vw;
}
.welcome {

}
.about-products{

}
.about-us {

}
.main-buttons {

}
#res-button-cont {
  width: 15%;
}
#res-button {
  float: left;
}
#mm-button-cont {

}
#mm-button {
  float: right;
}


/*FOOTER*/
.icon-linkedin:before {
  content: "\eac9";
}

/*STYLEGUIDE STUFF*/

dt {
	font-size: 14px;
	display: block;
	line-height: 1.5;
}

dl {
	text-align: left;
	padding-left: 30px;
}

dd {
	border-style: solid;
	border: 1px;
	margin: 10px 40px 10px;
	text-align: center;
	line-height: 1.5;
	display: table-cell;
	height: 5em;
}

dd.palette {
	height: 50px;
	width: 150px;
	border: 1px;
}
=======
>>>>>>> 47fb15f25ea9b7c4790f50791780fba20209531b
