
  dl {
    text-align: left;
    padding-left:30px;
  }

  dd {
    border-style: solid;
    border: 1px;
    margin:10px 40px 10px;
    text-align: center;
    line-height: 1.5;
    display:table-cell;
    height:5em;
  }

  dd.palette {
    height:50px;
    width:150px;
    border: 1px;
  }
