
  dl {
    text-align: left;
    padding-left:30px;
  }

  dd {
    border-style: solid;
    margin:10px 40px 10px;
    text-align: center;
    line-height: 1.5;
    display:table-cell;
    vertical-align:middle;
    height:5em;
  }

  dd.palette {
    height:100px;
    width:270px;
  }

  dd.compliant {
    height:60px;
    width:270px;
  }

  dd.noncompliant {
    height:180px;
    width:270px;
  }
