/*GLOBAL CSS*/
* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding: 0;
  width: 95%;
}
main{
  width: 100%;
  background-color: #D8D8D8;
}

#header {
  width: 100%;
  position: relative;
  height: 5.5vw;
  background-color: #333366;
  height: 6vw;
  position: relative;
  width: 100%;
  border: 1px solid #333366;
  border-radius: 3px;
}
#register-link {
  position: absolute;
  top: 12%;
  right: 1%;
  color: #fff;
  box-shadow: 0 3px 5px #000;
}
#logo-inner {
  font-size: 4.5vw;
  color: #fff;
}
.fa {
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.logo-div {
  display: block;
  height: 100%;
  position: absolute;
  width: 25%;

}
#logo-img {
position: absolute;
display: block;
width: 100%;
height: 100%;
}
#logo-text {
  display: block;
  position: absolute;
  left:23%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  font-size: 2.5vw;
  color: #fff;
}
#logo-text:hover {
  color: #E71921;
}
#footer {
  height: 26vw;
  outline: 1px solid red;
  position: relative;
  background-color: #333366;;
}
#footer h3 {
  display: block;
  text-align: center;
  font-size: 3vw;
  color: #fff;
  margin: 0% auto 3% auto;
}
.li-badges {
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #999999;
  border-radius: 3px;
  box-shadow: 0 3px 5px #000;
}
.left-badge {
  left: 5%;
}
.center-badge {
  left:37%;
}
.right-badge {
  right: 5%;
}

a:link {
	color: #333366;
}

a:visited {
	color: #333366;
}

a:hover {
	color: #E71921;
}

a:active {
	color: #333366
}
section {
  margin: auto;
}

/*MAP CSS*/

.messageSent{
  border:5px solid blue;
  margin: auto;
  height:100px;
  width:100px;
}
.numberGrid{
 float:left;
 margin-left: 5px;
 margin-top: 85px;
}
.gridNumber{
  float:left;
  margin-left:55px;
  margin-top:85px;
}
.messageSentText{
  margin-top:100px;
  text-align: center;
}
.listContainer {
  border:5px solid;
  height:200px;
  margin-top: 15px;
  width:500px;
}
.logOut {
  position: absolute;
  top: 96%;
  left: 2%;
  float:left;
  text-align:center;
}

.logo {
  height:80px;
  width:80px;
}
div.map{
  width:400px;
  height:400px;
  border-radius: 100px;
  margin:auto;
  border:10px dashed black;
}
div.markerInputBox{
  margin-top:10px;
  text-align: center;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  color:  #333366;
  font-family: 'Merriweather', serif;
}

body {
	font-family: 'Roboto', sans-serif;
   font-size: 14px;
	line-height: 24px;
	line-height: 1;
}

p {
	font-size: 14px;
}

hr {
	width: 75%;
	color: #E71921;
	border: 1px;
	border: thin dashed;
}

/*REGISTRATION CSS*/

fieldset {
	border: none;
}

li, span {
	font-size: 14px;
	display: block;
	line-height: 1.5;
}

.compliant {
	background-color: #ffffff;
	color: #595959;
	border-width: 1pt;
	border-color: #595959;
	Text Gray #595959
}

div.title_header {
	position: fixed;
	padding: 10px 10px 10px 40px;
	background-color: #333366;
	width: 1230px;
	height: 63px;
	overflow: visible;
	z-index: 9999;
}

/*INDEX CSS*/
#main-content {
  margin: auto;
  width: 60%;
  text-align: center;
  height: 42vw;
  background-color:;
  outline: 1px solid red;
}
.welcome {

}
.welcome h1 {
  margin: 0% auto 3% auto;
}
.about-products{

}
.about-us {

}
.main-buttons {

}
#res-button-cont {
}
#res-button {
  float: left;
  border: 1px solid #333366;
  background-color: #333366;
  padding: 10px 20px;
  color: #FFFFFF !important;
  font-size: 14px;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 3px;
  display: inline-block;
  margin-top: 15px;
  box-shadow: 0 3px 5px #000;
}
#mm-button-cont {

}
#mm-button {
  float: right;
  border: 1px solid #333366;
  background-color: #333366;
  padding: 10px 20px;
  color: #FFFFFF !important;
  font-size: 14px;
  font-family: "HelveticaNeueW02-75Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-radius: 3px;
  display: inline-block;
  margin-top: 15px;
  box-shadow: 0 3px 5px #000;
}
#form {
  float:left;
  text-align: left;
}


/*STYLEGUIDE STUFF*/

dt {
	font-size: 14px;
	display: block;
	line-height: 1.5;
}

dl {
	text-align: left;
	padding-left: 30px;
}

dd {
	border-style: solid;
	border: 1px;
	margin: 10px 40px 10px;
	text-align: center;
	line-height: 1.5;
	display: table-cell;
	height: 5em;
}

dd.palette {
	height: 50px;
	width: 150px;
	border: 1px;
}
